<a href="https://colab.research.google.com/github/PavanKumarDharmoju/Electricity-Load-Prediction-Using-LSTM/blob/main/Auto-ARIMA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pylab as plt
%matplotlib inline 
from matplotlib.pylab import rcParams
rcParams['figure.figsize'] = 10,6

In [2]:
#To upload CSV file from device
from google.colab import files
data_to_load = files.upload()

Saving FinalProject to FinalProject

In [14]:
dataset = pd.read_csv('FinalProject',index_col=0)
dataset.head()

            energy_used  mean_temp  ...  electricity_price   cpi
month                               ...
1973-01-01     1957.641       17.0  ...                2.9  36.5
1973-02-01     1712.143       20.0  ...                2.9  36.7
1973-03-01     1510.079       23.2  ...                2.8  36.9
1973-04-01     1183.421       28.5  ...                2.9  37.1
1973-05-01     1006.326       30.0  ...                2.8  37.1

[5 rows x 6 columns]

In [18]:
dataset.drop(['mean_temp','max_temp','vapor_pressure','electricity_price','cpi'],axis=1,inplace=True)

In [19]:
dataset.isnull().sum()

energy_used    0
dtype: int64

In [20]:
dataset.columns = ['Energy consumption']

In [21]:
dataset.head()

            Energy consumption
month
1973-01-01            1957.641
1973-02-01            1712.143
1973-03-01            1510.079
1973-04-01            1183.421
1973-05-01            1006.326

In [29]:
!pip install pmdarima

Collecting pmdarima
  Downloading https://files.pythonhosted.org/packages/f4/c2/2a94bce6bba1deac3c0b16dbb14f28de0b9035e3211919cae8448455aa65/pmdarima-1.8.2-cp37-cp37m-manylinux1_x86_64.whl (1.5MB)
     |████████████████████████████████| 1.5MB 13.3MB/s
Collecting statsmodels!=0.12.0,>=0.11
  Downloading https://files.pythonhosted.org/packages/da/69/8eef30a6237c54f3c0b524140e2975f4b1eea3489b45eb3339574fc8acee/statsmodels-0.12.2-cp37-cp37m-manylinux1_x86_64.whl (9.5MB)
     |████████████████████████████████| 9.5MB 28.4MB/s
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from pmdarima) (1.24.3)
Requirement already satisfied: pandas>=0.19 in /usr/local/lib/python3.7/dist-packages (from pmdarima) (1.1.5)
Requirement already satisfied: Cython!=0.29.18,>=0.29 in /usr/local/lib/python3.7/dist-packages (from pmdarima) (0.29.22)
Requirement already satisfied: setuptools!=50.0.0,>=38.6.0 in /usr/local/lib/python3.7/dist-packages (from pmdarima) (56.0.0)
Requirement already satisfied: scikit-learn>=0.22 in /usr/local/lib/python3.7/dist-packages (from pmdarima) (0.22.2.post1)
Requirement already satisfied: numpy~=1.19.0 in /usr/local/lib/python3.7/dist-packages (from pmdarima) (1.19.5)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from pmdarima) (1.0.1)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.7/dist-packages (from pmdarima) (1.4.1)
Requirement already satisfied: patsy>=0.5 in /usr/local/lib/python3.7/dist-packages (from statsmodels!=0.12.0,>=0.11->pmdarima) (0.5.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.19->pmdarima) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.19->pmdarima) (2.8.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from patsy>=0.5->statsmodels!=0.12.0,>=0.11->pmdarima) (1.15.0)
Installing collected packages: statsmodels, pmdarima
  Found existing installation: statsmodels 0.10.2
    Uninstalling statsmodels-0.10.2:
      Successfully uninstalled statsmodels-0.10.2
Successfully installed pmdarima-1.8.2 statsmodels-0.12.2

In [31]:
from pmdarima import auto_arima

In [33]:
stepwise_model = auto_arima(dataset, start_p=1, start_q=1,
                           max_p=3, max_q=3, m=12,
                           start_P=0, seasonal=True,
                           d=1, D=1, trace=True,
                           error_action='ignore',  
                           suppress_warnings=True, 
                           stepwise=True)

Performing stepwise search to minimize aic
 ARIMA(1,1,1)(0,1,1)[12]             : AIC=inf, Time=1.66 sec
 ARIMA(0,1,0)(0,1,0)[12]             : AIC=6114.084, Time=0.06 sec
 ARIMA(1,1,0)(1,1,0)[12]             : AIC=6010.871, Time=0.46 sec
 ARIMA(0,1,1)(0,1,1)[12]             : AIC=5861.025, Time=1.22 sec
 ARIMA(0,1,1)(0,1,0)[12]             : AIC=6062.182, Time=0.18 sec
 ARIMA(0,1,1)(1,1,1)[12]             : AIC=5861.955, Time=1.70 sec
 ARIMA(0,1,1)(0,1,2)[12]             : AIC=5861.390, Time=5.24 sec
 ARIMA(0,1,1)(1,1,0)[12]             : AIC=5984.347, Time=0.53 sec
 ARIMA(0,1,1)(1,1,2)[12]             : AIC=5858.229, Time=12.91 sec
 ARIMA(0,1,1)(2,1,2)[12]             : AIC=inf, Time=14.15 sec
 ARIMA(0,1,1)(2,1,1)[12]             : AIC=5851.805, Time=4.49 sec
 ARIMA(0,1,1)(2,1,0)[12]             : AIC=5908.179, Time=1.49 sec
 ARIMA(0,1,0)(2,1,1)[12]             : AIC=5893.633, Time=3.15 sec
 ARIMA(1,1,1)(2,1,1)[12]             : AIC=inf, Time=5.85 sec
 ARIMA(0,1,2)(2,1,1)[12]             : AIC=5773.748, Time=10.66 sec
 ARIMA(0,1,2)(1,1,1)[12]             : AIC=5778.777, Time=4.01 sec
 ARIMA(0,1,2)(2,1,0)[12]             : AIC=inf, Time=3.68 sec
 ARIMA(0,1,2)(2,1,2)[12]             : AIC=5775.306, Time=14.09 sec
 ARIMA(0,1,2)(1,1,0)[12]             : AIC=inf, Time=1.22 sec
 ARIMA(0,1,2)(1,1,2)[12]             : AIC=5775.637, Time=11.31 sec
 ARIMA(1,1,2)(2,1,1)[12]             : AIC=inf, Time=8.45 sec
 ARIMA(0,1,3)(2,1,1)[12]             : AIC=5765.787, Time=9.97 sec
 ARIMA(0,1,3)(1,1,1)[12]             : AIC=5771.300, Time=5.66 sec
 ARIMA(0,1,3)(2,1,0)[12]             : AIC=inf, Time=4.26 sec
 ARIMA(0,1,3)(2,1,2)[12]             : AIC=5767.749, Time=17.64 sec
 ARIMA(0,1,3)(1,1,0)[12]             : AIC=inf, Time=1.58 sec
 ARIMA(0,1,3)(1,1,2)[12]             : AIC=inf, Time=15.51 sec
 ARIMA(1,1,3)(2,1,1)[12]             : AIC=inf, Time=15.37 sec
 ARIMA(0,1,3)(2,1,1)[12] intercept   : AIC=inf, Time=10.06 sec

Best model:  ARIMA(0,1,3)(2,1,1)[12]
Total fit time: 186.615 seconds

In [34]:
stepwise_model.aic()

5765.787132249062

In [36]:
train = dataset.loc['1971-01-01':'2003-08-01']

In [37]:
train.tail()

            Energy consumption
month
2003-04-01            1491.005
2003-05-01            1379.464
2003-06-01            1413.121
2003-07-01            1688.921
2003-08-01            1709.401

In [40]:
test = dataset.loc['2003-09-01':]

In [43]:
test.head()

            Energy consumption
month
2003-09-01            1439.162
2003-10-01            1358.000
2003-11-01            1550.628
2003-12-01            2231.867
2004-01-01            2632.749

In [44]:
test.tail()

            Energy consumption
month
2014-08-01            1616.245
2014-09-01            1428.567
2014-10-01            1331.488
2014-11-01            1773.941
2014-12-01            2164.815

In [45]:

len(test)

136

In [46]:
stepwise_model.fit(train)

ARIMA(maxiter=50, method='lbfgs', order=(0, 1, 3), out_of_sample_size=0,
      scoring='mse', scoring_args={}, seasonal_order=(2, 1, 1, 12),
      start_params=None, suppress_warnings=True, trend=None,
      with_intercept=False)

In [47]:
future_forecast = stepwise_model.predict(n_periods=136)

In [48]:
future_forecast

array([1438.21504583, 1375.83106593, 1581.44755446, 2160.12590013,
       2495.27744579, 2092.56946414, 1935.82117074, 1516.7061531 ,
       1380.87115608, 1467.85158259, 1701.04789578, 1708.51396427,
       1439.45924643, 1389.518164  , 1586.9551475 , 2158.48760623,
       2500.00311977, 2099.72067787, 1955.28345065, 1536.09368407,
       1400.89459605, 1490.51544439, 1725.51967424, 1728.94814374,
       1462.30036714, 1412.5805188 , 1614.28740503, 2186.71077978,
       2530.13728682, 2137.77561698, 1977.16126254, 1552.06136298,
       1419.14680711, 1503.32399012, 1742.26085754, 1747.37879379,
       1480.26866284, 1429.32055028, 1631.36523069, 2204.38571797,
       2546.99280324, 2153.55382476, 1993.4681251 , 1569.00407366,
       1435.7849621 , 1520.28549354, 1758.62903532, 1763.95820154,
       1496.66420492, 1445.82531233, 1647.4206483 , 2220.29136642,
       2562.8005824 , 2168.70929128, 2010.13364826, 1586.17419186,
       1452.76628269, 1537.75948326, 1775.78537027, 1780.92849393,
       1513.69881915, 1462.96723149, 1664.57765487, 2237.40648965,
       2580.00545237, 2186.0878483 , 2027.30040846, 1603.22571912,
       1469.86737813, 1554.77687074, 1792.89399037, 1798.03645032,
       1530.81773622, 1480.06416066, 1681.71648528, 2254.56427563,
       2597.16316855, 2203.2902484 , 2044.37913045, 1620.26784208,
       1486.92250851, 1571.79320372, 1809.93137536, 1815.09191872,
       1547.86581112, 1497.10418486, 1698.75059202, 2271.60042141,
       2614.1906324 , 2220.29614304, 2061.41868606, 1637.32244738,
       1503.97093109, 1588.85385754, 1826.98095681, 1832.13964106,
       1564.91325862, 1514.15461753, 1715.79759717, 2288.64537439,
       2631.23651555, 2237.33999399, 2078.47093141, 1654.37663558,
       1521.0245175 , 1605.90989942, 1844.03613809, 1849.19326922,
       1581.96763186, 1531.20945274, 1732.85336987, 2305.70116794,
       2648.29305076, 2254.3988337 , 2095.52561919, 1671.42965959,
       1538.07820413, 1622.96214064, 1861.08954289, 1866.24701921,
       1599.02132921, 1548.26281193, 1749.9069612 , 2322.75495574,
       2665.34666962, 2271.45240421, 2112.57881855, 1688.48284781,
       1555.13138013, 1640.01523264, 1878.14259445, 1883.30018443,
       1616.07442789, 1565.31590185, 1766.95993567, 2339.80790729])

In [49]:
future_forecast = pd.DataFrame(future_forecast,index = test.index,columns=['Prediction'])

In [50]:
future_forecast.head()

             Prediction
month
2003-09-01  1438.215046
2003-10-01  1375.831066
2003-11-01  1581.447554
2003-12-01  2160.125900
2004-01-01  2495.277446

In [51]:
test.head()

            Energy consumption
month
2003-09-01            1439.162
2003-10-01            1358.000
2003-11-01            1550.628
2003-12-01            2231.867
2004-01-01            2632.749

In [53]:
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(test, future_forecast)
rmse = np.sqrt(mse)
rmse

140.11740053972306